@import 'element-plus/theme-chalk/src/dark/css-vars.scss';

::-webkit-scrollbar {
	width: 6px; /* 纵向滚动条 宽度 */
	height: 6px; /* 横向滚动条 高度 */
}
::-webkit-scrollbar-thumb {
	@apply bg-black dark:bg-white;
	opacity: 0.2;
	border-radius: 10px;
	transition: all .2s ease-in-out;
}
// 边角，两个滚动条交汇处
::-webkit-scrollbar-corner {
	@apply bg-white dark:bg-black;
}
